/*selektor identyfikatora*/
#selektory p {
    background-color: green;
}

#example_id p {
    font-size: 50px;
}
/*selektor klasy*/

.example p {
    font-size: 36px;
}

/*selektor znacznika*/
P {
    font-size: 18px;
        color: blue;
    background-color: yellow;
}

/*laczenie selektorow*/
h1,
h2,
h3 
{
    color: red;
}

/*bezposredni potomek*/
.direct p {
    background-color: gray;
}

/*selektor bliskiego rodzenstwa*/
h2 + h3 {
    font-size: 28px;
}

/*selektor rodzenstwa*/
.rodzenstwo h2 ~ h3 {
    font-size: 40px;
}
/*selektor wykluczający*/

.wykluczajacy p:not(not.){
    background-color: gray;
}

/*kolejny potomny + dla safari*/
#nastepny ul li:nth-child(8),
#nastepny ul li:nth-of-type(8){
    background-color: violet;
}

#nastepny ul li:nth-child(odd) {
    background-color: bisque;
}
/*zaczynamy od trzeci element i skaczemy co trzeci*/

#nastepny ul li:nth-child(3n+n) {
 background-color: aqua;
}

/*zaczynamy od 2 i skaczemy co 4*/
#nastepny ul li:nth-child(4n+2) {
    font-size: 26px;
}

#pozycjonowanie {
    background-color: green;
    height: 500px;
}

#pozycjonowanie div:nth-child(1) {
    height: 200px;
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


#pozycjonowanie div:nth-child(2) {
    height: 200px;
    background-color: blue;
}