/*selektor identyfikatora*/
#selektory p {
    background-color: green;
}

/*selektor klasy*/

.example p {
    font-size: 36px;
}

/*selektor znacznika*/
P {
    font-size: 18px;
        color: blue;
    background-color: yellow;
}

/*laczenie selektorow*/
h1,
h2,
h3 
{
    color: red;
}

/*bezposredni potomek*/
.direct p {
    background-color: gray;
}

/*selektor bliskiego rodzenstwa*/
h2 + h3 {
    font-size: 28px;
}

/*selektor rodzenstwa*/
.rodzenstwo h2 ~ h3 {
    font-size: 40px;
}
/*selektor wykluczający*/

.wykluczajacy p:not(not.){
    background-color: gray;
}

/*kolejny potomny + dla safari*/
#nastepny ul li:nth-child(8),
#nastepny ul li:nth-of-type(8){
    background-color: violet;
}

#nastepny ul li:nth-child(odd) {
    background-color: blueviolet;
}
/*trzeci element i skaczemy co trzeci*/

#nastepny ul li:nth-child(3n+n) {
 background-color: aqua;
}

/**/
#nastepny ul li:nth-child(4n+2) {
    font-size: 26px;
}